<div class="row">
  <div class="aboutMe-col">
    <p class="knowYourRealtor">Know Your Realtor</p>
    <div class="imgContainer">
      <div class="img-containerWithin">
        <h1
          style="font-family:'Times New Roman', serif; text-align:left;padding: 30px 35px 0px;"
        >Jennifer Mendez</h1>
        <h3>A Keller Williams Agent</h3>
  
        {{>knowMoreBtn knowMoreBtn-Container="aboutMe-btn-container" knowMore-classType="aboutMe-btn" knowMore-text="ABOUT ME"}}
        <div>
          <p style="text-align: center; font-family:cursive, serif; font-weight: bolder; position: relative;
    top: 198px;">"More than a
            friend... Your Realtor!"</p>
        </div>
      </div>
      <img src="/assets/images/jennifer-photo.png" class="jennifer-photo" />
    </div>
    <div class="kwBanner-container">
      <p class="question"><span
          style="margin-bottom: 0px;"
        >Why work with a KW agent?</p>
         {{>knowMoreBtn knowMoreBtn-Container="aboutMe-btn-container" knowMore-classType="aboutMe-btn" knowMore-text="LEARN MORE"}}
    </div>
   <img src="/assets/images/kw.png" class="kwImg" />
  </div>
</div>