<div class="row">
  <div class="col-sm-12 aboutMe-col">
    <h1>Jennifer Mendez</h1>
    <p>Real Estate Agent</p>
    <div class="imgContainer">
      <img src="/assets/images/jennifer-photo.png" class="jennifer-photo" />
    </div>

    <p class="aboutMe-text">
      Hi there!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates
      dolorem tempore culpa. Saepe excepturi sapiente aspernatur deleniti fugit
      obcaecati est eum doloremque accusantium, voluptates corporis maxime esse
      commodi? Officiis eaque eos quo et vitae aut distinctio, amet quidem
      architecto molestiae aspernatur, rem similique cumque quaerat in
      praesentium suscipit a ducimus perferendis nostrum odit sed repudiandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi autem
      quam debitis deserunt nostrum asperiores error, harum enim, doloribus
      ipsum numquam quisquam. Voluptas tempora libero vitae sequi ipsam alias
      reiciendis sed quibusdam ut, iure autem, reprehenderit ullam perspiciatis
      eveniet distinctio deleniti sunt placeat omnis suscipit quidem cum minima
      expedita fugit.

    </p>
  </div>
</div>