<div class="row">
  <div class="aboutMe-col">
    <div style="width=100%;">
    <p class="knowYourRealtor">Know Your Realtor <a href="#" style="margin-left:50px;"><span>SEND MESSAGE</span></a></p>
    </div>
    <div class="imgContainer">
      <div class="img-containerWithin">
        <h1
          style="font-family:'Times New Roman', serif; text-align:left;padding: 0 35px;"
        >Jennifer Mendez</h1>
        <h3>A Keller Williams Agent</h3>
      <div>
        <img src="/assets/images/jennifer-photo.png" class="jennifer-photo" />
  </div>
        {{>knowMoreBtn knowMoreBtn-Container="aboutMe-btn-container" knowMore-classType="aboutMe-btn" knowMore-text="ABOUT ME"}}
        <div>
          <p style="text-align: center; font-family:cursive, serif; font-weight: bolder;">"More than a
            friend... Your Realtor!"</p>
        </div>
      </div>
      
    </div>
    <div class="kwBanner-container">
      <p class="question">Why work with a KW agent?</p>
      <div>
       <img src="/assets/images/kw.png" class="kwImg" />
        {{>knowMoreBtn knowMoreBtn-Container="learnMore-btn-container" knowMore-classType="aboutMe-btn" knowMore-text="LEARN MORE"}}
       </div>
        
    </div>
  
  </div>
</div>