<div class="row">
  <div class="col-sm-12 aboutMe-col">
    <h1>Jennifer Mendez</h1>
    <div class="imgContainer">
      <img src="/assets/images/jennifer-photo.png" class="jennifer-photo" />
    </div>
<p class="question">Why work with a Keller Williams agent?</p>
    <p class="aboutMe-text">
      <span>Looking to sell your home?</span> As a
      real estate associate of Keller Williams Realty, you will now have access
      to over 170,000 associates across the country to help you sell your
      property. With our technology, we are leading the way in how homes are
      sold and purchased through online marketing. Through our KWLS, your
      listing will display on top name sites like Zillow and Trulia to get you
      the most brand exposure to your home. 
      <span>Looking to purchase a home?</span> With our
      KW Technology and advanced websites, searching for properties that are
      active on the MLS is a breeze. Now you can search 24/7, save properties to
      your profile to view later and schedule showings with me so you can see
      these properties in person. My job is to make the real estate buying
      process that much simpler and as a real estate associate of Keller
      Williams Realty, we are doing just that. Our company prides ourselves in
      staying on the cutting edge of technology and if you select me as your
      real estate agent, you will receive all of this and more. You could never
      find a more dedicated, energetic, or focused agent to represent you.
      Please give me a call for a no obligation assessment of your needs!

    </p>
  </div>
</div>