<div class="row">
  <div class="aboutMe-col">
    <p class="knowYourRealtor">Know Your Realtor</p>
    <div class="imgContainer">
      <div class="img-containerWithin">
        <h1
          style="font-family: cursive, 'Times New Roman', serif; text-align:left;padding: 30px 35px 0px;"
        >Jennifer Mendez</h1>
        <h3>A Keller Williams Agent</h3>
        <div class="aboutMe-btn-container">
          <button type="button" class="aboutMe-btn">ABOUT ME</button>

        </div>
        <div>
          <p style="text-align: center; font-family:cursive, serif; font-weight: bolder;">"More than a
            friend... Your Realtor!"</p>
        </div>
      </div>
      <img src="/assets/images/jennifer-photo.png" class="jennifer-photo" />
    </div>
    <div>
      <p class="question"><span
          style="color: black;
    text-shadow: none; margin-bottom: 0px;"
        >Why work with a Keller</span><br />
        Williams agent?</p>
    </div>
    {{! <img src="/assets/images/kw.png" class="kwImg" /> }}
  </div>
</div>