<div class="row rowCards">
  <div class="col-md-12 cardColumn">
    <!-- Card 1 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
       <i class="fas fa-home"></i>
        <h4 class="card-title">RENT</h4>
        <p class="card-text">
          Search random properties for rent.
        </p>
        <div class="btn-container">
          <a href="/rentals" class="btn btn-secondary">SEE PROPERTIES</a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <i class="fas fa-hand-holding-usd"></i>
        <h4 class="card-title">BUY</h4>
        <p class="card-text">
          Search random properties for sale.
        </p>
        <div class="btn-container">
          <a href="/forsale" class="btn btn-secondary">SEE PROPERTIES</a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <i class="fas fa-file-invoice-dollar"></i>
        <h4 class="card-title">SELL</h4>
        <p class="card-text">
          Coming soon!
        </p>
        <div class="btn-container">
          <a href="#" class="btn btn-secondary">SEE PROPERTIES</a>
        </div>
      </div>
    </div>
  </div>
</div>