<div class="row">
  <div class="col-md-12 cardColumn">
    <!-- Card 1 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">RENT</h5>
        <p class="card-text">
          Search random properties for rent.
        </p>
        <div class="btn-container">
          <a href="#" id="searchByCode" class="btn btn-primary">See Rentals</a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">BUY</h5>
        <p class="card-text">
          Search random properties for sale.
        </p>
        <div class="btn-container">
          <a href="#" id="searchForSaleByCode" class="btn btn-primary">See Homes</a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">SELL</h5>
        <p class="card-text">
          Add your apartment or house for sale. Coming soon!
        </p>
        <div class="btn-container">
          <a href="#" class="btn btn-primary">List Property</a>
        </div>
      </div>
    </div>
  </div>
</div>