<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  {{>form class="latest-listForm" pClass="text" text="Search for the latest listings in your area."}}
  
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div id="propListing"></div>
    {{!-- <div class="carousel-item active">
      <img src="https://media.istockphoto.com/photos/blueprints-with-a-3d-render-of-a-beautiful-two-story-house-on-top-picture-id1264133436?k=20&m=1264133436&s=612x612&w=0&h=DV2rT165PzhC7yCGYKAIYl6rIwu2Sb0ypws26dQ876Y=" class="d-block  w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/render-of-a-beautiful-two-story-house-picture-id1264133426?k=20&m=1264133426&s=612x612&w=0&h=XsOLbqGC3v-OTB5XV5J_p_pWu67PoWRBaRPImLseARY=" class="d-block  w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/residential-building-blueprint-plan-real-estate-housing-project-picture-id1288292255?k=20&m=1288292255&s=612x612&w=0&h=KWGdjIeBohts8GzQAOCrYIZieFd5pzKgonuQgAQrp0o=" class="d-block  w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/sketch-architecture-abstract-villa-picture-id168531788?k=20&m=168531788&s=612x612&w=0&h=35pfUtLHjGpB_KKdiOCJn2oJRfx1e8dXKLUkAv8MZYo=" class="d-block  w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/wireframe-villa-picture-id474067064?k=20&m=474067064&s=612x612&w=0&h=bptHkrXVc2Yuz3IazyyT_Xar688VNye8mt9f4KstHac=" class="d-block  w-100" alt="...">
    </div> --}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: grey;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: grey;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

