<div id="carouselExampleIndicators" class="carousel slide">
  {{>form class="latest-listForm" pClass="text" text="Search for the latest listings in your area." resultsId="resultsId"}}
  <div class="latestListingsContainer">
    <div id="propListing"></div> 
  </div> 
</div>

