<div id="carouselExampleIndicators" class="carousel slide">
  {{>form class="latest-listForm" pClass="text" text="Search for the latest listings in your area."}}
  

  <div class="latestListingsContainer">
    <div id="propListing"></div>
  
  </div>
 
</div>

