<div id="propStatus">
  <div id="cardPropType" class="card">
    <div class="selectPropType">
      <span
        onclick="document.getElementById('propStatus').style.display='none'"
        class="close"
        title="Close Card"
        style="right: 28%; top: 9%"
      >&times;</span>

      <p class="propertyQuest">
        What type of properties do you want to search for?
      </p>
      <button
        id="rentalBtn"
        class="btn btn-primary propertyQuest rental"
        type="button"
      >
        Rentals
      </button>
      <button
        id="onSaleBtn"
        class="btn btn-primary propertyQuest onSale"
        type="button"
      >
        On Sale
      </button>
    </div>
  </div>
</div>