<div class="row">
  <footer class="col-md-12 contact-col">
    
    
     <ul class="contact-icons-ul">
      {{>liElement hrefAttr="mailto:j.mendez@kw.com" fas-fa-class="fas fa-envelope"}}
      {{>liElement hrefAttr="https://www.messenger.com/t/114704715925203/?messaging_source=source%3Apages%3Amessage_shortlink" fas-fa-class="fab fa-facebook-messenger"}}
      {{>liElement hrefAttr="https://www.facebook.com/JCBrealEstateServices" fas-fa-class="fab fa-facebook"}}     
      {{>liElement hrefAttr="https://api.whatsapp.com/send?phone=12017326844&amp;text=Hi there! I have a question" fas-fa-class="fab fa-whatsapp"}} 
      {{>liElement hrefAttr="tel:201-732-6844" fas-fa-class="fas fa-phone"}}  
     </ul>
    <p class="m-0 text-center text-white" style="font-size:10px;">
      Copyright &copy; 2021
    </p>
  </footer>
</div>