<div class="row contactRow">
  <div class="col-md-12 contact_media">
    <p style="margin-bottom: 0px">Contact us:</p>
    <footer class="logo_container">
      <img class="logos facebook" src="assets/images/facebookLogo.png" />

      <img class="logos instagram" src="assets/images/instagramLogo.png" />

      <img class="logos linkedin" src="assets/images/linkedin-logo copy.png" />

      <img class="logos github" src="assets/images/Octocat.jpg" />
    </footer>
  </div>
</div>