<div class="row">
  <footer class="col-md-12 contact-col">
    <p class="text">For request or inquiries contact me through my social media,
      call, or send me an email.</p>

    <ul class="contact-icons-ul">
      <a href="https://www.facebook.com/jennifer.mendez.752" target="_blank"><li
        >
          <img src="/assets/images/facebook-icon.png" class="contact-icons" />
        </li></a>
      <a href="https://www.instagram.com/jenniferjael/?hl=en" target="_blank">
        <li>
          <img src="/assets/images/instagram-icon.png" class="contact-icons" />
        </li></a>
      <li><img
          src="/assets/images/cell-icon.png"
          class="contact-icons cellphone"
        /></li>
      <a href="mailto:jjael8919@gmail.com" target="_blank"><li><img
            src="/assets/images/gmail-icon.png"
            class="contact-icons gmail"
          /></li></a>
    </ul>
    <p class="m-0 text-center text-white">
      Copyright &copy; 2021
    </p>
  </footer>
</div>