<div class="row">
  <footer class="col-md-12 contact-col">
    <p class="text">For request or inquiries contact me through my social media, call, or
      send me an email.</p>

    <ul>
      <li>
        <img src="/assets/images/facebook-icon.png" class="contact-icons">
      </li>
      <li> <img src="/assets/images/instagram-icon.png" class="contact-icons">
    </li>
      <li><img src="/assets/images/cell-icon.png" class="contact-icons cellphone"></li>
      <li><img src="/assets/images/gmail-icon.png" class="contact-icons gmail"></li>
    </ul>
    <p class="m-0 text-center text-white">
      Copyright &copy; 2021
    </p>
  </footer>
</div>