<form class="prop-form">
  <div class="form-container">
  <i class="fas fa-times"></i>
  <p>NEW JERSEY</p>

  {{>checkBox}}

  <div class="input-group">
    <input
      id="cityName"
      type="text"
      class="form-control"
      placeholder="City"
      aria-label="City"
    />
    <input
      id="zipCode"
      type="text"
      class="form-control"
      placeholder="Zip Code"
      aria-label="Zip Code"
    />
  </div>

  <div class="btn-container">
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="search-btn"
    >Search</button>
  </div>
  </div>
</form>