<form class="input_container">
  <input
    id="city_search"
    type="text"
    name="search"
    style="margin-left: 17px"
    placeholder="City Name"
    required
  />

  <input
    id="state_search"
    type="text"
    name="search"
    placeholder="State Initials"
    required
  />
  <span class="span_search_lense">
    <button id="search_btn" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </span>
</form>