<div class="row">
  <div class="col-sm-12">
    <div class="background_img_container">
      <img
        src="https://www.stanleymartin.com/images/Projects/NH/About/10.jpg"
        class="background_house_img"
      />
      <!-- Search box -->
      <form class="input_container">
        <input
          id="city_search"
          type="text"
          name="search"
          style="margin-left: 17px"
          placeholder="City Name"
          required
        />

        <input
          id="state_search"
          type="text"
          name="search"
          placeholder="State Initials"
          required
        />
        <span class="span_search_lense">
          <button id="search_btn" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </form>
    </div>
    <!-- Quote -->
    <p class="quote">Let us help you find your dream home...</p>
  </div>
</div>