<form class={{class}}>
  <div class="form-container">
  <i class="fas fa-times"></i>
  <p>NEW JERSEY</p>
  <p>{{text}}</p>
  <div class="input-group">
    <input
      id="cityName"
      type="text"
      class="form-control"
      placeholder="City"
      aria-label="City"
    />
    <input
      id="zipCode"
      type="text"
      class="form-control"
      placeholder="Zip Code"
      aria-label="Zip Code"
    />
  </div>

  {{>button type="Search"}}
  </div>
</form>