<div class="row">
  <header class="header">
    <div class="column menu"><i class="fas fa-bars"></i></div>
    <div class="column jcbLogo"><a href="/"><img src="/assets/images/jcblogo.png"/></a></div>
    <div class="column search-icon"><i class="fa fa-search"></i></div>
  </header>
</div>