<div class="row header-row">
  <header class="header">
    <div class="column jcbLogo"><a href="/"><img
          src="/assets/images/jcblogo.png"
        /></a>
      
    </div>
    <div class="column columnJCB"><a href="/"><p>JCB Real Estate Services</p></a>
    <div class="logos-container">
    <div class="login-icon"><i class="far fa-user-circle"></i></div>
    <div class="menu"><i class="fas fa-bars"></i></div>
    </div>
    </div>
    

  </header>
  {{>stickyMenu}}
</div>