<div class="row">
  <header class="header">
    <div class="column jcbLogo"><a href="/"><img
          src="/assets/images/jcblogo.png"
        /></a>
        <a href="/"><h1>JB Real Estate Services</h1></a>
    </div>

    <div class="column menu"><i class="fas fa-bars"></i></div>

    <div class="column login-icon"><i class="far fa-user-circle"></i></div>
  </header>
</div>