<div class="radioBtns-container">
  <div class="rent-radioBtnContainer">
    <input type="radio" id="rent-radioBtn" value="rent" />
    <label for="rent-radioBtn">Rent</label>
  </div>
  <div class="sale-radioBtnContainer">
    <input type="radio" id="sale-radioBtn" value="sale" />
    <label for="sale-radioBtn">Sale</label>
  </div>
</div>