<div class="radioBtns-container">
  <div class="rent-radioBtnContainer">
    <input type="radio" id="rent-radioBtn" name="select-prop-type" value="Rent" checked />
    <label for="rent-radioBtn">Rent</label>
  </div>
  <div class="sale-radioBtnContainer">
    <input type="radio" id="sale-radioBtn" name="select-prop-type" value="Sale" />
    <label for="sale-radioBtn">Sale</label>
  </div>
</div>
