<div class="row stickyRow">
  <div class="col-sm-12 stickyBtn-container">
    <div class="column-container">
      <div class="column">
        <a href="/rentals" class="btn">
          <i class="fas fa-home"></i>
          <p class="card-title">RENT</p>
        </a>
      </div></div>
    <div class="column-container">
      <div class="column"><a href="/forsale" class="btn">
          <i class="fas fa-hand-holding-usd"></i>
          <p class="card-title">BUY</p>
        </a></div></div>
    <div class="column-container">
      <div class="column"><a href="#" class="btn"><i
            class="fas fa-file-invoice-dollar"
          ></i>
          <p class="card-title">SELL</p></a></div></div>
    <div class="column-container" style="border: none;">

      <div class="column"><a href="#" class="btn"><i class="fas fa-phone"></i>
          <p class="card-title">CALL</p></a></div></div>

  </div>
</div>