<div id="zipCodeContainer">
  <form id="zipCodeInnerContainer" class="">
    <div class="enterZipCodeContainer">
      <label for="codeInput">Enter zip code </label>
      <input type="text" id="codeInput" name="codeInput" />
      <button id="zipCodeBtn" type="submit">Search</button>
    </div>
  </form>
</div>