body {
  width: auto;
  margin: 0px;
  padding: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.row > * {
  padding-right: 0px;
  padding-left: 0px;
}

header {
  display: inline-flex;
  /* justify-content: center; */
  border-top-style: solid;
  border-color: #febd69;
  border-width: 10px;
  background-image: linear-gradient(black, black, rgb(87, 86, 86));
}

.jcbLogo {
  display: flex;
}

.columnJCB {
  width: 100%;
}

.columnJCB a {
  text-decoration: none;
}

.jcbLogo img {
  width: 90px;
  height: 90px;
}

.columnJCB p {
  font-size: 22px;
  font-family: "Times New Roman", serif;
  margin: 10px 0px 10px 15px;
  color: #febd69;
  text-shadow: 1px 1px rgb(87 86 86);
}

.logos-container {
  width: 100%;
  display: inline-flex;
  padding-right: 15px;
  justify-content: right;
}

.fa-bars,
.fa-user-circle {
  font-size: 22px;
  color: #febd69;
  margin-right: 15px;
}

.fa-user-circle:hover {
  text-shadow: 0px 1px #febd69;
}

.form-check-input:checked {
  background-color: #febd69;
  border-color: rgb(87 86 86);
}

#video-hero {
  width: 100%;
  margin: 0 auto;
}

.latest-listForm {
  background-color: white;
  padding: 30px;
}

.latest-listForm p {
  text-align: center;
  color: black;
  font-size: 20;
  font-weight: bold;
}

.text {
  color: rgb(195, 9, 90) !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.latest-listForm i {
  display: none;
}

.carousel,
.cardColumn,
footer {
  background-image: linear-gradient(
    rgba(0, 0, 0),
    rgb(87, 86, 86),
    rgb(87, 86, 86),
    rgb(87, 86, 86),
    black
  );
  padding: 20px 0px;
}

.carousel {
  margin-top: -12px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgb(87, 86, 86),
    rgb(87, 86, 86),
    rgb(87, 86, 86),
    black
  );
}

.carousel-indicators {
  z-index: 1;
}

.carousel-item {
  width: 100%;
}

.carousel-item img {
  width: 90% !important;
  height: 40%;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5%;
}

.aboutMe-col {
  text-align: center;
  margin: 10px auto;
  padding: 15px 0;
  color: black;
  background-color: rgba(192, 192, 192, 0.9);
}

.aboutMe-col h1 {
  font-size: 35px;
  font-family: "Times New Roman", serif;
  margin-bottom: 0px;
}

.jennifer-photo {
  width: 40%;
  height: auto;
  border-radius: 80px;
  margin: 25px auto;
}

.aboutMe-col p,
.aboutMe-text {
  margin: 20px auto;
  padding: 2px;
  width: 85%;
  text-align: justify;
  font-size: 20px;
  font-family: "Times New Roman", serif;
}
.question {
  font-size: 30px !important;
  text-align: center !important;
  background-color: #b3b0b0;
  width: 100% !important;
}

.aboutMe-text span {
  background-color: white;
  padding: 5px;
}
.cardColumn {
  padding: 22px 22px 12px;
  margin-bottom: 0;
}

.card {
  margin-bottom: 10px;
}

.contact-col {
  height: 310px;
  padding: 15px 30px 30px;
  margin-top: 10px;
  color: white;
  text-align: center;
  border-top: solid;
  border-color: #febd69;
  border-width: 10px;
}

.stickyRow {
  width: 100%;
  height: 40px;
  padding: 0;
  z-index: 1;
  background-image: linear-gradient(rgb(87, 86, 86), black, black);
}

.stickyBtn-container {
  display: flex;
  height: inherit;
}

.stickyBtn-container div {
  width: 25%;
}

.column-container {
  border-right: 1px solid rgb(87, 86, 86);
}

.column-container div {
  padding: 0px 25px;
}

.column-container i {
  font-size: 20px;
  color: white;
}

.column-container p {
  font-size: 10px;
  color: white;
}

.contact-col li {
  display: inline-flex;
  background-color: rgba(192, 192, 192, 0.9);
  border-radius: 0.25rem;
  padding: 8px;
}

.list-inline-item:not(:last-child) {
  margin-right: 16px;
}

.contact-icons {
  font-size: 45px;
  color: white;
}

.contact-icons-ul {
  padding-left: 0;
}

.phoneText {
  font-size: 20px;
}

.phoneText a {
  color: white;
  text-decoration: none;
}

.phoneText a:hover {
  text-decoration: underline;
}

#resultsHTML {
  color: white;
  margin: auto;
  padding: 10px;
}

.card {
  color: black;
  background-color: #febd69;
  width: 100%;
  border: 1px solid rgb(87, 86, 86);
  text-align: center;
}

.card i {
  font-size: 40px;
  padding: 5px;
  border: solid black;
  border-radius: 10px;
}

.card h4 {
  margin-top: 0.5rem;
}

.btn-secondary {
  width: 60%;
  background-color: rgb(87, 86, 86);
  box-shadow: 1px 1px rgb(87, 86, 86);
  border-color: rgb(87, 86, 86);
  border-width: thick;
  text-shadow: 1px 0.5px black;
}

.btn:hover {
  box-shadow: none;
}

.btn-secondary:hover {
  border-color: rgb(133, 132, 132);
}

.singIn-row {
  justify-content: center;
}

/* Form styling */
.prop-form,
.prop-form-main {
  display: none;
  width: 90%;
  margin: 0px auto;
  padding: 10px;
  color: white;
  background-color: rgb(235 229 229 / 14%);
  border-radius: 5px;
}

.prop-form p,
.prop-form p,
.btn-container {
  text-align: center;
}

.form-range {
  padding-top: 15px;
  margin: 10px 15px;
  width: 50%;
}

.form-select {
  width: fit-content;
  margin: 10px 0 20px;
}
.btn-outline-secondary {
  margin-top: 10px;
  background-color: #febd69;
  color: white;
  text-shadow: 1px 1px rgb(87 86 86);
}

.fa-times {
  position: absolute;
  right: 3%;
  font-size: 20px;
}

.fa-star {
  position: absolute;
  right: 2%;
  top: 10px;
  font-size: 20px !important;
  padding: 0 !important;
  border: none !important;
}

.span_search_lense:active {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(34, 111, 146);
  opacity: 0.7;
}

.contact_media {
  text-align: center;
  margin: 20px;
}

/* Rentals Styling */
.listingContainer {
  margin: 20px auto;
}

#propListing {
  background-color: black;
}

.cardListing {
  margin-bottom: 10px;
  background-color: rgb(87 86 86);
  color: white;
  text-shadow: 1px 1px black;
  text-align: initial;
}

.propertyImg {
  height: 200px;
}

@media only screen and (min-width: 768px) {
  .listingContainer {
    margin: 20px;
    margin-right: -5px;
  }

  #propListing {
    display: contents;
  }
  .cardListing {
    width: 32%;
    margin: 5px;
  }
}

/* Style background-image for screens greater than 1201 px.
1201px and more — Extra large screens, TV. */
@media only screen and (min-width: 1024px) {
  .rowCards {
    justify-content: center !important;
  }

  .cardColumn {
    display: contents;
  }

  .card {
    width: 32% !important;
  }
}
