body {
  width: auto;
  margin: 0px;
  padding: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.row > * {
  padding-right: 0px;
  padding-left: 0px;
}

header {
  display: inline-flex;
  border-top-style: solid;
  border-color: #febd69;
  border-width: 2px;
  background-color: black;
}

.columnJCB {
  width: 100%;
  display: contents;
}

.columnJCB a {
  text-decoration: none;
  width: 100%;
}

.jcbLogo img {
  width: 50px;
  height: 40px;
  margin: 10px 0px 10px 2px;
}

.columnJCB p {
  font-size: 20px;
  font-family: "Times New Roman", serif;
  margin: 15px 0 10px 5px;
  color: #febd69;
  text-shadow: 1px 1px rgb(87 86 86);
}

.logos-container {
  margin: 20px 10px 10px;
  display: inline-flex;
}

.fa-bars,
.fa-user-circle {
  font-size: 20px;
  color: #febd69;
  margin-right: 15px;
}

.fa-user-circle:hover {
  text-shadow: 0px 1px #febd69;
}

.form-check-input:checked {
  background-color: #febd69;
  border-color: rgb(87 86 86);
}

#video-hero {
  width: 100%;
  margin: 0 auto;
}

.latest-listForm,
.prop-form {
  background-color: white;
  padding: 30px 30px 15px;
}

.latest-listForm p,
.prop-form p {
  text-align: center;
  color: black;
  font-size: 20;
  font-weight: bold;
}

.input-group {
  margin-bottom: 1rem;
}

.btn-container {
  text-align: center;
}

.text,
.radioBtns-container,
.knowYourRealtor {
  color: rgb(195, 9, 90) !important;
  font-weight: normal !important;
  font-size: 16px !important;
}

.radioBtns-container {
  color: black !important;
  padding: 10px 15px 15px;
}

.radioBtns-container div {
  margin: 12px auto;
}

input[type="radio" i] {
  appearance: none;
  padding: 6px;
  margin: 3px 3px 0px 5px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: auto;
}

input[type="radio"]:checked {
  background: radial-gradient(rgb(195, 9, 90), transparent);
}

footer {
  background-image: linear-gradient(black, black, black, rgb(87, 86, 86));
  padding: 20px 0px;
}

.carousel {
  margin-top: -12px;
  padding: 20px 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgb(87, 86, 86),
    white,
    white
  );
}

.latestListingsContainer {
  overflow-x: auto;
  white-space: nowrap;
}

.card-text {
  margin-bottom: 0;
}

#resultsId {
  margin-top: 25px;
  margin-bottom: -15px;
  text-align: left !important;
  font-size: 16px !important;
  font-weight: normal !important;
  color: rgb(52 75 187);
}

.aboutMe-col {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

.aboutMe-btn-container {
  margin-bottom: 15px;
}

.learnMore-btn,
.aboutMe-btn {
  width: 150px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-image: linear-gradient(
    to right,
    black,
    black,
    rgb(87, 86, 86),
    rgb(87, 86, 86)
  );
}

/* .aboutMe-btn, .learnMore-btn a {
  color: black;
  text-decoration: none;
} */

.aboutMe-btn {
  background-image: none;
  background-color: white;
  color: black;
}

.aboutMe-btn a,
.learnMore-btn a {
  text-decoration: none;
  color: white;
}

.aboutMe-btn a {
  color: black;
}

.jennifer-photo {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 25px auto;
}

.aboutMe-col p,
.aboutMe-text {
  margin: 0px 10px 15px 30px;
  padding: 2px;
  text-align: left;
  font-size: 20px;
  font-family: "Times New Roman", serif;
}
.question {
  font-size: 22px !important;
  font-weight: bold;
  font-family: serif !important;
  text-align: center !important;
  width: 100% !important;
  padding: 10px 0px !important;
  margin: 10px auto 0 !important;
  color: white !important;
  text-shadow: 1px 1px black !important;
  background-image: linear-gradient(
    45deg,
    black,
    grey,
    grey,
    grey,
    transparent
  );
}

.kwBanner-container {
  height: 240px;
}

.kwImg {
  width: 100%;
  height: 187px;
}

.learnMore-btn-container {
  position: relative;
  top: -70px;
  left: -45px;
}

.aboutMe-text span {
  background-color: white;
  padding: 5px;
}
.cardColumn {
  padding: 22px 22px 12px;
  margin-bottom: 0;
}

.card {
  margin-bottom: 10px;
}

.contact-col {
  padding: 0;
  color: white;
  text-align: center;
  border-top: solid;
  border-color: #febd69;
  border-width: 1px;
}

.stickyRow {
  background-color: black;
  width: 100%;
  height: 40px;
  padding: 0;
  margin-top: -1px;
  z-index: 1;
}

.stickyBtn-container {
  display: flex;
  height: inherit;
  border-top: 1px solid rgb(87, 86, 86);
}

.stickyBtn-container div {
  width: 25%;
}

.column-container {
  border-right: 1px solid rgb(87, 86, 86);
}

.column-container div {
  padding: 0px 25px;
}

.stickyBtns {
  padding: 0.2rem 0.75rem;
}

.column-container i {
  font-size: 20px;
  color: white;
}

.column-container p {
  font-size: 10px;
  color: white;
}

.contact-col li {
  display: inline-flex;
  padding: 5px;
}

.list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.contact-icons {
  font-size: 28px;
  color: white;
}

.contact-icons-ul {
  padding-left: 0;
  margin: 0;
}

.fa-phone {
  font-size: 26px;
}

#resultsHTML {
  color: white;
  margin: auto;
  padding: 10px;
}

.singIn-row {
  justify-content: center;
}

.btn-outline-secondary {
  /* margin-top: 10px; */
  background-color: #febd69;
  color: white;
  text-shadow: 1px 1px rgb(87 86 86);
}

.fa-times {
  position: absolute;
  right: 3%;
  font-size: 20px;
}

.fa-star {
  position: absolute;
  right: 2%;
  top: 10px;
  font-size: 20px !important;
  padding: 0 !important;
  border: none !important;
}

.contact_media {
  text-align: center;
  margin: 20px;
}

/* Rentals Styling */
.listingContainer {
  margin: -50px auto 20px;
}

#propListing {
  display: inline-flex;
  align-items: center;
}

.jen-realtor-btns-container {
  display: inline-flex;
}

.cardListing {
  width: 90%;
  margin: 10px;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
}

.propertyImg {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.card-btns {
  width: 149px;
  height: 36px;
  border-radius: 10px;
  background-image: none;
  background-color: white;
  color: black;
  margin: 2px auto;
  padding: 1px;
}

.contactJen-btn,
.seeOnRealtor-btn {
  text-decoration: none;
  color: black;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .stickyRow {
    position: absolute;
    top: 0;
    left: 35%;
    width: 40%;
    margin: 11px;
    background-color: none;
  }

  .stickyBtn-container {
    border: none;
  }

  .stickyBtn-container div {
    width: auto;
  }

  .form-container {
    width: 65%;
    margin: 0 auto;
  }

  .jennifer-photo {
    width: 35%;
  }

  .aboutMe-col p {
    text-align: center;
  }
  .img-containerWithin h1 {
    margin-left: 20%;
  }

  .listingContainer {
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap;
  }

  #propListing {
    display: contents;
  }

  .cardListing {
    width: 47%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-container {
    width: 45%;
  }

  #resultsId {
    margin-left: 6%;
  }

  .cardListing {
    width: 30%;
  }
}

/* Style background-image for screens greater than 1201 px.
1201px and more — Extra large screens, TV. */
@media only screen and (min-width: 1200px) {
  body {
    background-color: rgba(87, 86, 86, 0.1);
  }
  .videoRow,
  main {
    width: 65%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px grey;
  }

  .carousel {
    margin-top: 0;
    padding: 0;
  }

  .form-container {
    width: 50%;
  }

  .jenniferRow {
    background-color: white;
  }

  .aboutMe-col {
    margin: 30px 0;
  }
}
